# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Bullshit
*.tlog
*.lastbuildstate

./Debug/
*.vcxproj
*.filters
*.idb
.nativecodeanalysis.xml
Release/*.nativecodeanalysis.xml
*.kra
*.png~
Release/vc.nativecodeanalysis.all.xml
